<div class="after-hours">
  <div>
    <div class="after-hours__description">
      <h2 class="after-hours__header">After Hours</h2>
      <p class="after-hours__text">
        Outside of my regular working hours, I delve into an array of activities
        and passions. Here's a glimpse into how I spend my after-hours.
      </p>
      <div class="after-hours__content">
        <div class="image-grid">
          <div class="image-grid__item">
            <img
              class="image-grid__image"
              src="assets/img/ai.jpg"
              alt=""
              height="480"
            />
            <h4 class="image-grid__title">Artificial Intelligence</h4>
            <p class="image-grid__description">
              After work I test LLM and automate my work
            </p>
          </div>
          <div class="image-grid__item">
            <img
              class="image-grid__image"
              src="assets/img/travel.jpg"
              alt=""
              height="480"
            />
            <h4 class="image-grid__title">Travel</h4>
            <p class="image-grid__description">
              In my spare time in love with foreign travel and new adventures
            </p>
          </div>
        </div>
        <div class="image-grid">
          <div class="image-grid__item">
            <img class="image-grid__image" src="assets/img/games.png" alt="" height="480"/>
            <h4 class="image-grid__title">Video Games</h4>
            <p class="image-grid__description">
              Lost in virtual realms, I find joy and challenge in the dynamic
              world of video games.
            </p>
          </div>
          <div class="image-grid__item">
            <img class="image-grid__image" src="assets/img/gim.png" alt="" height="480"/>
            <h4 class="image-grid__title">Strength Training</h4>
            <p class="image-grid__description">
              Empowering both body and mind, I'm dedicated to the discipline of
              strength training, continuously pushing my limits.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
