@import 'variables';

.after-hours {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 120px 0;

  &__description {
    margin: 0 24px;
  }

  &__header {
    color: var(--text-secondary);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__text {
    color: var(--text-primary);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.8px;
    width: 864px;
  }

  &__content {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 16px;
  }
}

.image-grid {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  &__item {
    width: 316px;
  }

  &__image {
    border-radius: 20px;
    height: 480px;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    color: var(--text-primary);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }

  &__description {
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}



@media only screen and (max-width: $breakpoint-xl) {
  .after-hours {
    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__text {
      width: auto !important;
    }
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .image-grid {
    flex-direction: column;
  }
}

@media only screen and (max-width: $breakpoint-xs) {
  .image-grid {
    &__item {
      width: 272px;
    }

    &__image {
      width: 272px;
    }
  }
}