<div class="after-houer" >
    <div>
        <div>
            <h2 class="after-houer-header">After Hours</h2>
            <p class="after-houer-p">Outside of my regular working hours, I delve into an array of activities and passions.
                Here's a glimpse into
                how I spend my after-hours.</p>
            <div class="after-houers">
    
                <div class="image-section">
                    <img src="assets/img/Frame 16.png" alt="">
                    <h4 class="image-header">Electronic Music</h4>
                    <p class="image-p">Outside of my regular working hours, I immerse myself in the pulsating rhythms and
                        innovative sounds of electronic music</p>
                </div>
                <div class="image-section">
                    <img src="assets/img/Frame 16.png" alt="">
                    <h4 class="image-header">Electronic Music</h4>
                    <p class="image-p">Outside of my regular working hours, I immerse myself in the pulsating rhythms and
                        innovative sounds of electronic music</p>
                </div>
                <div class="image-section">
                    <img src="assets/img/Frame 16.png" alt="">
                    <h4 class="image-header">Electronic Music</h4>
                    <p class="image-p">Outside of my regular working hours, I immerse myself in the pulsating rhythms and
                        innovative sounds of electronic music</p>
                </div>
                <div class="image-section">
                    <img src="assets/img/Frame 16.png" alt="">
                    <h4 class="image-header">Electronic Music</h4>
                    <p class="image-p">Outside of my regular working hours, I immerse myself in the pulsating rhythms and
                        innovative sounds of electronic music</p>
                </div>
            </div>
        </div>
    </div>
    
</div>