<div class="after-houer">
  <div>
    <div class="after-houer-discription">
      <h2 class="after-houer-header">After Hours</h2>
      <p class="after-houer-p">
        Outside of my regular working hours, I delve into an array of activities
        and passions. Here's a glimpse into how I spend my after-hours.
      </p>
      <div class="after-houers">
        <div class="image-section">
          <img
            src="assets/img/ai.jpg"
            alt=""
            height="480"
            style="border-radius: 20px"
          />
          <h4 class="image-header">Artificial Intelligence</h4>
          <p class="image-p">
            After work I test LLM and automate my work
          </p>
        </div>
        <div class="image-section">
          <img
            src="assets/img/travel.jpg"
            alt=""
            height="480"
            style="border-radius: 20px"
          />
          <h4 class="image-header">Travel</h4>
          <p class="image-p">
            In my spare time in love with foreign travel and new adventures
          </p>
        </div>
        <div class="image-section">
          <img src="assets/img/games.png" alt="" height="480"/>
          <h4 class="image-header">Video Games</h4>
          <p class="image-p">
            Lost in virtual realms, I find joy and challenge in the dynamic
            world of video games.
          </p>
        </div>
        <div class="image-section">
          <img src="assets/img/gim.png" alt="" height="480"/>
          <h4 class="image-header">Strength Training</h4>
          <p class="image-p">
            Empowering both body and mind, I'm dedicated to the discipline of
            strength training, continuously pushing my limits.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
