@import 'variables';

.projects__header {
  font-size: 20px;
  color: var(--text-secondary);
  margin-left: auto;
}

.projects__description-header {
  color: var(--text-primary);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  width: 864px;
  margin-bottom: 80px;
}

.projects__header {
  font-size: 20px;
  color: var(--text-secondary);
  margin-left: auto;
}

.projects__githubCards-concret {
  display: flex;
  gap: 16px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 120px 0;
}

.projects__githubCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}



@media only screen and (max-width: $breakpoint-xl) {

  .projects__description-header {
    width: auto !important;
  }

  .projects__description {
    margin: 0 24px;
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .projects__githubCards-concret {
    flex-direction: column;
  }
}

@media only screen and (max-width: $breakpoint-xs) {
  .projects__description-header {
    width: 272px;
    font-size: 30px;
  }
}