<div class="projects-section"> 

<div>
    <div>
        <h2 class="section-header">Recent Projects</h2>
        <p class="header">Since diving into frontend development in 2023, I've brought a range of projects to life. Here's a
            snapshot of my
            accomplishments so far.</p>
    </div>
    <div class="github-card-2-section">
        <div class="github-cards">
            <app-github-card />
            <app-github-card />
        </div>
        <div class="github-cards">
            <app-github-card />
            <app-github-card />
        </div>
    </div>
</div>


</div>