<section class="projects" >
  <article id="projects">
    <div class="projects__description">
      <h2 class="projects__header">{{ 'PROJECTS_SECTION.HEADER' | translate }}</h2>
      <p class="projects__description-header">
        {{ 'PROJECTS_SECTION.DESCRIPTION' | translate }}
      </p>
    </div>
    <div class="projects__githubCards">
      <div class="projects__githubCards-concret">
        <app-github-card
          *ngFor="let project of data | slice : 0 : 2"
          [description]="project.description"
          [project]="project.name"
          [link]="project.html_url"
          [website]="project.homepage"
          [topics]="project.topics"
          [stargazersCount]="project.stargazers_count"
        />
      </div>
      <div class="projects__githubCards-concret">
        <app-github-card
          *ngFor="let project of data | slice : 2 : 4"
          [description]="project.description"
          [project]="project.name"
          [link]="project.html_url"
          [website]="project.homepage"
          [topics]="project.topics"
          [stargazersCount]="project.stargazers_count"
        />
      </div>
      <div class="projects__githubCards-concret">
        <app-github-card
          *ngFor="let project of data | slice : 4 : 6"
          [description]="project.description"
          [project]="project.name"
          [link]="project.html_url"
          [website]="project.homepage"
          [website]="project.homepage"
          [topics]="project.topics"
          [stargazersCount]="project.stargazers_count"
        />
      </div>
    </div>
  </article>
</section>