.section-header {
  font-family: DM Sans;
  font-size: 20px;
  color: #9ca3af;
  margin-left: auto;
}

.header {
  color: #fff;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  width: 864px;
  margin-bottom: 80px;
}

.section-header {
  font-family: DM Sans;
  font-size: 20px;
  color: #9ca3af;
  margin-left: auto;
}

.github-cards {
  display: flex;
  gap: 16px;
}

.projects-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 120px 0;
}

.github-card-2-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (max-width: 1900px) {
  .github-cards {
    flex-direction: column;
  }
  .header {
    width: auto !important;
  }
  .project-dicription {
    margin: 0 24px;
  }
}
@media only screen and (max-width: 374px) {
  .header {
    width: 272px;
    font-size: 30px;
  }
}
