<footer class="footer" id="contact">
    <h2 class="footer__header">Let’s work together</h2>
    <h3 class="footer__pargraph">I’m open for new opportunities. <br>If you have one for me we should talk!</h3>
    <a class="footer__button" href="#"><img src="assets/img/mail.svg" alt=""><span>j.kozlowski@mail.com</span></a>
    <p class="footer__pargraph-custom">or find me on</p>
    <div class="social-buttons">
        <a href="#" class="social-button"><img src="assets/img/github.svg" alt=""></a>
        <a href="#" class="social-button"><img src="assets/img/netlify.svg" alt=""></a>
        <a href="#" class="social-button"><img src="assets/img/linkedin.svg" alt=""></a>
        <a href="#" class="social-button"><img src="assets/img/facebook.svg" alt=""></a>
        <a href="#" class="social-button"><img src="assets/img/instagram.svg" alt=""></a>
        <a href="#" class="social-button"><img src="assets/img/twitter.svg" alt=""></a>
    </div>
    
</footer>
