.footer__header {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-family: DM Sans;
  margin: 120px 0;
}

.footer__pargraph {
  color: #9ca3af;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 16px 0 0 0;
}

.footer__button {
  width: 312px;
  height: 64px;
  border-radius: 20px;
  background: #ceff7e;
  display: flex;

  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin: 40px 0px 80px 0px;
  justify-content: center;
  text-decoration: none;
}

.footer__pargraph-custom {
  color: var(--Gray400, #9ca3af);
  font-family: DM Sans;
  font-weight: 500;
  font-size: 24px;
  margin: 0 0 24px 0;
}

.social-button {
  border-radius: 100px;
  background: linear-gradient(
    155deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.04) 100.02%
  );
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15) inset;
  backdrop-filter: blur(5px);
  display: flex;
  padding: 16px;
  align-items: center;
}

.social-buttons {
  display: flex;
  gap: 16px;
}
@media only screen and (max-width: 1900px) {
  .footer {
    margin: 120px 24px;
  }
  .footer__header {
    text-align: center;
  }
}
