<footer class="footer" id="contact">
    <h2 class="footer__header">{{ 'FOOTER_SECTION.HEADER' | translate }}</h2>
    <h3 class="footer__paragraph" [innerHTML]="'FOOTER_SECTION.PARAGRAPH' | translate"></h3>
    <a class="footer__contact-button" href="mailto:tomasz.jader&#64;gmail.com">
        <img class="footer__contact-icon" src="assets/img/mail.svg" alt="" height="24" width="24" loading="lazy">
        <span class="footer__contact-text">tomasz.jader&#64;gmail.com</span>
    </a>
    <p class="footer__text">{{ 'FOOTER_SECTION.FIND_ME' | translate }}</p>
    <div class="footer__social">
        <a href="https://github.com/tomaszjader/" class="footer__social-link" aria-label="GitHub" target="_blank"
            rel="noopener noreferrer">
            <img class="footer__social-icon" src="assets/img/github.svg" alt="" height="24" width="24" loading="lazy">
        </a>
        <a href="https://www.linkedin.com/in/tomasz-j%C4%85der-a25427200/" class="footer__social-link"
            aria-label="LinkedIn" target="_blank" rel="noopener noreferrer">
            <img class="footer__social-icon" src="assets/img/linkedin.svg" alt="" height="24" width="24" loading="lazy">
        </a>
        <a href="https://www.instagram.com/leonardo_davidoff/" class="footer__social-link" aria-label="Instagram"
            target="_blank" rel="noopener noreferrer">
            <img class="footer__social-icon" src="assets/img/instagram.svg" alt="" height="24" width="24"
                loading="lazy">
        </a>
    </div>

</footer>