<footer class="footer" id="contact">
    <h2 class="footer__header">Let's work together</h2>
    <h3 class="footer__paragraph">I'm open for new opportunities. <br>If you have one for me we should talk!</h3>
    <a class="footer__contact-button" href="mailto:tomasz.jader&#64;gmail.com">
        <img class="footer__contact-icon" src="assets/img/mail.svg" alt="" height="24px">
        <span class="footer__contact-text">tomasz.jader&#64;gmail.com</span>
    </a>
    <p class="footer__text">or find me on</p>
    <div class="footer__social">
        <a href="https://github.com/tomaszjader/" class="footer__social-link">
            <img class="footer__social-icon" src="assets/img/github.svg" alt="" height="24px">
        </a>
        <a href="https://www.linkedin.com/in/tomasz-j%C4%85der-a25427200/" class="footer__social-link">
            <img class="footer__social-icon" src="assets/img/linkedin.svg" alt="" height="24px">
        </a>
        <a href="https://www.instagram.com/leonardo_davidoff/" class="footer__social-link">
            <img class="footer__social-icon" src="assets/img/instagram.svg" alt="" height="24px">
        </a>
    </div>
    
</footer>