<nav class="hero hero-gap">
    <div class="nav-bar">
        <div class="hero hero-section">
            <img src="assets/img/navbar-logo.svg" alt="">
            <div class="my">
                <p class="my-name">Tomasz Jąder</p>
                <p class="my-title">Junior Fullstack developer</p>
            </div>
        </div>
        <div class="hero nav-items">
            <a href="#about" class="nav-item">About</a>
    
            <a href="#skills" class="nav-item">Skills</a>
    
            <a href="#projects" class="nav-item">Projects</a>
    
            <div class="nav-item-resume">
                <img src="assets/img/download-button.svg" alt="">
    
                <a href="assets/files/TomaszJąderCV.pdf"  download="TomaszJąderCV.pdf" class="nav-item">Resume</a>
    
            </div>
    
            <a href="#contact" class="nav-item-contact">Contact</a>
        </div>
    </div>
    
</nav>