<div class="skills-item">
    <img class="skills-item__specific-image" src="assets/img/trangle.svg" alt="">
    <div class="skills-item__specific">
        <img  src="assets/img/myslnik.svg" alt="">
        <p class="skills-item__specific-header">Working knowledge</p>
        <p class="skills-item__specific-item">— Semantic HTML5</p>
        <p class="skills-item__specific-item">— Semantic HTML5</p>
        <p class="skills-item__specific-item">— Semantic HTML5</p>
        <p class="skills-item__specific-item">— Semantic HTML5</p>
        <p class="skills-item__specific-item">— Semantic HTML5</p>
        <p class="skills-item__specific-item">— Semantic HTML5</p>
        <p class="skills-item__specific-item">— Semantic HTML5</p>
    </div>
    
</div>
