.skills {
  background-color: var(--bg-card);
  border-radius: 20px;
  width: 426.67px;
  color: var(--text-primary);
  border: 1px solid var(--bg-primary);
  background: linear-gradient(155deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.04) 100.02%);
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.15) inset;
  backdrop-filter: blur(5px);

  &__image {
    padding: 40px;
  }

  &__content {
    padding: 20px 40px 40px 40px;
    height: 462px;
  }



  &__header {
    font-size: 24px;
    margin: 12px 0;
  }

  &__item {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1320px) {
  .skills {
    width: 327px;

    &__divider {
      width: 247px;
    }
  }
}

@media only screen and (max-width: 374px) {
  .skills {
    width: 272px;

    &__divider {
      width: 192px;
      height: 3px;
    }
  }
}