.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header {
  color: #fff;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  width: 864px;
  margin-bottom: 80px;
}

.section-header {
  font-family: DM Sans;
  font-size: 20px;
  color: #9ca3af;
  margin-left: auto;
}

.centrum {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 120px 0;
}
@media only screen and (max-width: 1900px) {
  .skills {
    flex-direction: column;
  }
  .header {
    width: auto !important;
  }
  .skills-centum {
    margin: 0 24px;
  }

 
}
