<section class="skills" id="skills">
    <article>
        <div class="skills__content">
            <h2 class="skills__content-header">MY SKILLS</h2>
            <h3 class="skills__content-paragraf">I've picked up some cool skills along the way, and I'm excited to share them with you. Check out what I can do below!</h3> 
        </div>
        
        <div class="skills__boxs">
            <app-skills-item
            [skillsArray] = 'workingKnowledgeArray'
            [skillsHeader]= "'Working knowledge'"
            [skillsImage] = "'assets/img/trangle.svg'"
            ></app-skills-item>
            <app-skills-item
            [skillsArray] = 'knowSomethingAboutArray'
            [skillsHeader]= "'Know something about'"
            [skillsImage] = "'assets/img/elicpse.svg'"
            ></app-skills-item>
            <app-skills-item    
            [skillsArray] = 'wantToLearnArray'
            [skillsHeader]= "'Want to learn'"
            [skillsImage] = "'assets/img/test.svg'"
            ></app-skills-item>
        </div>
    </article>
</section>