.skills__boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.skills__content-paragraf {
  color: var(--text-primary);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  width: 864px;
  margin-bottom: 80px;
}

.skills__content-header {
  font-size: 20px;
  color: var(--text-secondary);
  margin-left: auto;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 120px 0;
}

@media only screen and (max-width: 1320px) {
  .skills__content-paragraf {
    width: auto !important;
  }

  .skills__content {
    margin: 0 24px;
  }
}

@media only screen and (max-width: 1046px) {
  .skills__boxs {
    flex-direction: column;
  }
}