<div class="github-card">
    <div class="github-card-top">
        <div class="github-card-dot"></div>
        <div class="github-card-dot"></div>
        <div class="github-card-dot"></div>
    </div>
    <div class="github">
        <div class="github-card-header-section">
            <h3 class="github-card-header">
                simple-editor
            </h3>
            <span class="github-card-star">
                <img src="assets/img/star.svg" alt="" height="16px">
                27
            </span>
        </div>

        <p class="github-card-content">Phasellus dolor. In dui magna, posuere eget, vestibulum et, tempor auctor, justo
            fringilla mauris sit amet nibh.
            Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat...</p>
        <div class="github-card-technologys">
            <div class="github-card-technology">
                HTML
            </div>
            <div class="github-card-technology">
                HTML
            </div>
            <div class="github-card-technology">
                HTML
            </div>
        </div>
        <div class="github-card-buttons">
            <button class="github-card-view-button">
                <img src="assets/img/page.svg" alt=""> View demo
            </button>
            <button class="github-card-source-button">
                <img src="assets/img/github-logo.svg" alt=""> Source code
            </button>
        </div>
    </div>


</div>