.github-card {
  background-color: #1f2937;
  width: 648px;
  border-radius: 20px;
  border: 1px solid #020916;
  background: linear-gradient(155deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.04) 100.02%);
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.15) inset;
  backdrop-filter: blur(5px);

  &__top {
    border-radius: 20px 20px 0px 0px;
    border: 1px solid #020916;
    background: linear-gradient(155deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.04) 100.02%);
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.15) inset;
    backdrop-filter: blur(5px);
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    margin: -1px;
  }

  &__dot {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    opacity: 0.5;
    background: #020916;
  }

  &__content {
    padding: 40px;
  }

  &__header-section {
    display: flex;
    gap: 16px;
  }

  &__header {
    font-weight: 700;
    color: var(--White, #fff);
    font-size: 24px;
    margin: 0;
  }

  &__star {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 2px;
    border-radius: 4px;
    background: rgba(156, 163, 175, 0.1);
    color: var(--Gray400, #9ca3af);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  &__description {
    color: var(--Gray400, #9ca3af);
    font-size: 20px;
    font-weight: 400;
    margin: 16px 0;
  }

  &__technologies {
    display: flex;
    gap: 8px;
    padding-bottom: 40px;
  }

  &__technology {
    color: var(--White, #fff);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    border-radius: 4px;
    background: rgba(156, 163, 175, 0.1);
    padding: 4px 8px;
  }

  &__buttons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }

  &__button {
    display: flex;
    padding: 16px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid #1f2937;
    background: #020916;
    color: #ceff7e;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;

    &--view {
      @extend .github-card__button;
    }

    &--source {
      @extend .github-card__button;
    }
  }

  @media only screen and (max-width: 1320px) {
    width: 327px;
    height: 505px;

    &__buttons {
      flex-direction: column;
    }

    &__header-section {
      justify-content: space-between;
    }
  }

  @media only screen and (max-width: 374px) {
    width: 272px;

    &__header-section {
      flex-direction: column;
    }



    &__button {
      font-size: 16px;
    }
  }
}