<article class="github-card">
    <div class="github-card__top">
        <div class="github-card__dot"></div>
        <div class="github-card__dot"></div>
        <div class="github-card__dot"></div>
    </div>
    <div class="github-card__content">
        <div class="github-card__header-section">
            <h3 class="github-card__header">
                {{project}}
            </h3>
            <span class="github-card__star">
                <img src="assets/img/svg/star.svg" alt="" height="16" width="16">
                {{stargazersCount}}
            </span>
        </div>

        <p class="github-card__description">{{description}}</p>
        <div class="github-card__technologies">
            <div *ngFor="let topic of topics" class="github-card__technology">
                {{topic}}
            </div>
        </div>
        <div class="github-card__buttons">
            <a class="github-card__button--view" href={{website}} target="_blank" style="text-decoration: none;">
                <img src="assets/img/svg/page.svg" alt="" height="24" width="24"> {{ 'GITHUB_CARD.VIEW_DEMO' | translate
                }}
            </a>
            <a class="github-card__button--source" href={{link}} target="_blank" style="text-decoration: none;">
                <img src="assets/img/svg/github-logo.svg" alt="" height="24" width="24"> {{ 'GITHUB_CARD.SOURCE_CODE' |
                translate }}
            </a>
        </div>
    </div>
</article>