<div class="skills">
    <app-skills-item
    [skillsArray] = 'skillsArray'
    [skillsHeader]= "'Working knowledge'"
    [skillsImage] = "'assets/img/trangle.svg'"
    ></app-skills-item>
    <app-skills-item
    [skillsArray] = 'skillsArray'
    [skillsHeader]= "'Know something about'"
    [skillsImage] = "'assets/img/elicpse.svg'"
    ></app-skills-item>
    <app-skills-item
    [skillsArray] = 'skillsArray'
    [skillsHeader]= "'Want to learn'"
    [skillsImage] = "'assets/img/test.svg'"
    ></app-skills-item>
</div>
