.about-header {
    color: #FFF;
    font-family: DM Sans;
    font-size: 48px;
    font-weight: 700;
}

.about-pargrph {
    color: var(--Gray400, #9CA3AF);
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.about-header-custom {
    color: #CEFF7E;
}

.about-pargrph-custom {
    color: var(--White, #FFF);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 64px;
    gap: 144px;
}

.about-img {
    border-radius: 16px 200px 16px 16px;
    background: #D2D5DA;
    background: lightgray -76.988px -235.752px / 147.391% 202.501% no-repeat;
}

.about-button-contact {
    display: flex;
    padding: 14px 32px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: #CEFF7E;
    color: #020916;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.about-button-know {
    display: flex;
    padding: 14px 32px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid #1F2937;
    background: #020916;
    color: #CEFF7E;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.buttons {
    display: flex;
    gap: 16px;
}

.about-link {
    text-decoration: none;
}

.link-font {
    font-family: Arial;
}