    
    <div style="display: flex;justify-content: center; flex-direction: column; align-items: center; margin: 0 0 120px 0;">
<div class="about" style="width: 1320px;">
    <div class="about-text">
        <h1 class="about-header">My name is Maciek and I’m an aspiring <span class="about-header-custom">Frontend developer</span> and a keen Star
            Wars fan.</h1>
        <p class="about-pargrph">You might be interested in checking the list of my <span class="about-pargrph-custom">skills</span>. Don’t forget to have a
            glimpse at my <span class="about-pargrph-custom">projects</span>. I’m looking for a new challenges so if you have one - <span class="about-pargrph-custom">contact me</span> 😊</p>
        <div class="buttons">
            <button class="about-button-contact">
                <img src="assets/img/cloud.svg" alt="">
                Get in touch
            </button>
            <button class="about-button-know">
                <img src="assets/img/image-user.svg" alt="">
                Get to know me
            </button>
        </div>
        
    </div>

    <img src="assets/img/47568523.jpg" alt="" class="about-img">
</div>
</div>
