<section  id="about">
    
    <div class="about">
        <div class="about__text">
            <h1 class="about__header">My name is Tomasz and I'm a <span class="about__header--highlight">Junior Fullstack developer</span> and AI fan.</h1>
    
            <p class="about__paragraph">You might be interested in checking the list of my <a href="#skills"
                    class="about__paragraph--link">skills</a>. Don't forget to have a
                glimpse at my <a href="#projects" class="about__paragraph--link">projects</a>. I'm looking for a new challenges so if
                you have one - <a href="#contact" class="about__paragraph--link">contact me</a> 😊</p>
            <div class="about__buttons">
                <a href="#contact" class="about__button about__button--contact">
                    <img src="assets/img/cloud.svg" alt="" height="24">
                    Get in touch
                </a>
                <a href="#skills" class="about__button about__button--know">
                    <img src="assets/img/image-user.svg" alt="" height="24">
                    Get to know me
                </a>
            </div>
        </div>
    
        <img src="assets/img/tomaszjader.png" alt="" class="about__img" height="400">
    
    </div>
    
</section>