<section id="about">
    <div class="about">
        <div class="about-text">
            <h1 class="about-header">My name is Tomasz and I’m a <span class="about-header-custom">Junior Fullstack developer</span> and AI fan.</h1>

            <p class="about-pargrph">You might be interested in checking the list of my <a href="#skills"
                    class="about-pargrph-custom about-link">skills</a>. Don’t forget to have a
                glimpse at my <a href="#projects" class="about-pargrph-custom about-link">projects</a>. I’m looking for a new challenges so if
                you have one - <a href="#contact" class="about-pargrph-custom about-link">contact me</a> 😊</p>
            <div class="buttons">
                <a href="#contact" class="about-button-contact about-link link-font">
                    <img src="assets/img/cloud.svg" alt="" height="24">
                    Get in touch
                </a>
                <a class="about-button-know about-link link-font" href="#skills" >
                    <img src="assets/img/image-user.svg" alt="" height="24">
                    Get to know me
                </a>
            </div>

        </div>

        <img src="assets/img/47568523.jpg" alt="" class="about-img" height="400">
    </div>
</section>