@import 'variables';

#about {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 24px;
  gap: 144px;
  max-width: 1320px;
  width: calc(100% - 48px);

  &__text {
    flex: 1;
  }

  &__header {
    color: var(--text-primary);
    font-size: 48px;
    font-weight: 700;

    &--highlight {
      color: var(--accent-primary);
    }
  }

  &__paragraph {
    color: var(--text-secondary);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    &--link {
      color: var(--text-primary);
      text-decoration: underline;
    }
  }

  &__img {
    width: 400px;
    height: 400px;
    aspect-ratio: 1/1;
    border-radius: 16px 200px 16px 16px;
    background: #d2d5da;
    object-fit: cover;
  }

  &__buttons {
    display: flex;
    gap: 16px;
    margin-top: 64px;
  }

  &__button {
    display: flex;
    padding: 14px 32px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    font-family: Arial;

    &--contact {
      background: var(--accent-primary);
      color: var(--bg-primary);
    }

    &--know {
      border: 2px solid var(--border-primary);
      background: var(--bg-primary);
      color: var(--accent-primary);
    }
  }
}



@media only screen and (max-width: $breakpoint-xl) {
  .about {
    flex-direction: column-reverse;
    gap: 32px;
    margin: 60px auto;

    &__text {
      width: 100%;
    }

    &__img {
      width: 300px;
      height: 300px;
    }

    &__buttons {
      flex-direction: column;
      align-items: flex-start;
    }

    &__button {
      &--contact {
        width: 188px;
      }

      &--know {
        width: 221px;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-xs) {
  .about {
    &__img {
      width: 280px;
      height: 280px;
    }
  }
}