* {
    box-sizing: border-box;
}

body {
    background-color:#020916;
    color: #fff;
    margin: 0px;
    font-family: 'DM Sans', 'Helvetica' ;
}

// Bootstrap-like utilities for blog content
.img-fluid {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 0.5rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}